# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!example.tfvars
.terraform.lock.hcl

# dbt
dbt_retailpulse/target/
dbt_retailpulse/dbt_packages/
dbt_retailpulse/logs/
profiles.yml

# Python
__pycache__/
*.pyc
.env
venv/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Secrets — NEVER commit these
*.pem
*.key
secrets.jsondbt_venv/
