# Terraform files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.tfstate.lock.info

# Crash logs
crash.log
crash.*.log

# Sensitive files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
